/auto-save-list/
/backups/
/eln-cache/
/elpa/
/eshell/
/games/
/history
/ido.last
/newsticker/
/places
/projects
/recentf
/smex-items
/transient/
/bookmarks
/tramp
/custom.el
/SessionDesktop.el
/projectile-bookmarks.eld
/lisp/*.elc
/.mc-lists.el
/.bookmarks.el
*.data
/devdocs/
/request/
/eww-bookmarks
/notes
/timelog
/tutorial/
/type-break
/ede-projects.el
